<body style="background-color: yellow;">
    <h1>
        This is Registration Form</h1>

    <form action="addUser">
        <table cellpading="10" cellspacing="10" border="1">
            <tr>

                <td>Id</td>
                <td><input type="text" name="id"></td>

            </tr>
            <tr>

                <td>Name</td>
                <td><input type="text" name="name"></td>

            </tr>
            <tr>

                <td>Contact</td>
                <td><input type="text" name="contact"></td>

            </tr>
            <tr>

                <td>Address</td>
                <td><input type="text" name="address"></td>

            </tr>

            <tr>

                <td><input type="submit" value="Save"></td>
                <td><input type="reset" value="Reset"></td>

            </tr>

        </table>

    </form>
</body>